/*html, body{
  height:100%;
  width: 100%;
  font-size: 30px;
}*/

body{
  display: flex;
  justify-content: center;
  align-content: center;
  /*flex-wrap: wrap;*/
}

.button{
  position: absolute;
  display: block;
  top:1000px;
  /*border: 1px black solid;*/
  height:160px;
  width:400px;
  cursor: pointer;
  left: 300px;
}


.housu{
  z-index: -5;
  position: absolute;
  left: 40px;
  height:971px;
  width: 900px;
  background-image: url('assets/house.png');
}

/*.housu{

  top:0px;
  z-index: -5;
  position: absolute;
  left:10px;
  height:486px;
  width: 450px;
  background-image: url(assets/house.png);
}*/

.container{
  display: block;
  position: relative;
  height:800px;
  width:800px;
  top:150px;
  border: black 1px solid;
  overflow: visible;
  cursor: pointer;
}

/*

.container{
  display: block;
  position: relative;
  height:400px;
  width:400px;
  top:60px;
  border: black 1px solid;
  overflow: visible;
  cursor: pointer;
}
.controller1{
  display: block;
  position: absolute;
  height:100px;
  width: 100px;
  left:0px;
  top:0px;
  border:yellow 1px dashed;
}

.controller2{
  display: block;
  position: absolute;
  height:100px;
  width: 100px;
  left:100px;
  top:0px;
  border:yellow 1px dashed;
}

.controller3{
  display: block;
  position: absolute;
  height:100px;
  width: 200px;
  left:200px;
  top:0px;
  border:yellow 1px dashed;
}

.controller4{
  display: block;
  position: absolute;
  height:100px;
  width: 200px;
  left:0px;
  top:100px;
  border:yellow 1px dashed;
}

.controller5{
  display: block;
  position: absolute;
  height:100px;
  width: 200px;
  left:0px;
  top:200px;
  border:yellow 1px dashed;
}

.controller6{
  display: block;
  position: absolute;
  height:200px;
  width: 100px;
  left:200px;
  top:100px;
  border:yellow 1px dashed;
}

.controller7{
  display: block;
  position: absolute;
  height:200px;
  width: 100px;
  left:300px;
  top:100px;
  border:yellow 1px dashed;
}

.controller8{
  display: block;
  position: absolute;
  height:100px;
  width: 400px;
  left:0px;
  top:300px;
  border:yellow 1px dashed;
}*/





//BIGGER TRY





.container{
  display: block;
  position: absolute;
  height:800px;
  width:800px;
  top:150px;
  left:100px;
  border: black 1px solid;
  overflow: visible;
}

.controller1{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 200px;
  left:0px;
  top:0px;
  border:yellow 1px dashed;

}

.controller2{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 200px;
  left:200px;
  top:0px;
  border:yellow 1px dashed;

}

.controller3{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 396px;
  left:400px;
  top:0px;
  border:yellow 1px dashed;

}

.controller4{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 400px;
  left:0px;
  top:200px;
  border:yellow 1px dashed;

}

.controller5{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 400px;
  left:0px;
  top:400px;
  border:yellow 1px dashed;

}

.controller6{
  overflow: hidden;
  display: block;
  position: absolute;
  height:400px;
  width: 200px;
  left:400px;
  top:200px;
  border:yellow 1px dashed;

}

.controller7{
  overflow: hidden;
  display: block;
  position: absolute;
  height:400px;
  width: 196px;
  left:600px;
  top:200px;
  border:yellow 1px dashed;

}

.controller8{
  overflow: hidden;
  display: block;
  position: absolute;
  height:200px;
  width: 796px;
  left:0px;
  top:600px;
  border:yellow 1px dashed;

}
