html, body{
  height:100%;
  width: 100%;
  font-size: 30px;
}

.room{
  display: block;
  position: absolute;
  height:333px;
  width:333px;
  left:400px;
  top:50px;
  border: black 1px solid;
  overflow: hidden;
}
